<h1 id="about-me-header">Wills Blake: Software Engineer</h1>

<div class="about-me-content">
  <h2>I was born and raised in Tampa, Florida. I was first introduced to programming by a friend, with the TI-84 using BASIC. Since then, I have been learning different technologies and stacks to further my understanding of computing.</h2>
  <h2>I majored in linguistics in college, as language is something that I have always been passionate about. From computers to humans to animals, communication is what makes us special.</h2>
  <h2>Since graduation, I have narrowed my focus to iOS and web programming. What can I say, programming in Swift is a good time.</h2>
  <h2>I graduated from the Flatiron School in October of 2020. I have specialized in backend development, using the Ruby on Rails framework.</h2>
  <h2>I will go into further detail about all of the above in my blog, located at the top of the site. Feel free to create an account, and leave a comment!</h2>
</div>