<div class="home">
  <h1 id="home-header" class="fade-in">Hi, it's great to see you.</h1>
  <h2 class="fade-in-delay">This is my personal website. Here you can find plenty of information about my interests, technical journey, and travels.</h2>
  <h2 class="fade-in-delay">Please use the links above to navigate the site.</h2>
  <h2 class="fade-in-delay">The only use for an account is to leave comments on blog posts.</h2>
</div>