#blog-page-title {
  color: whitesmoke;
  text-align: center;
  padding-bottom: 5%;
}

.blog-post-link {
  text-decoration: none;
}

.blog-post {
  border: solid whitesmoke 1px;
  background-color: #474747;
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 5%;
}

.post-title {
  color: whitesmoke;
}

.post-title:visited {
  color: whitesmoke;
}

.post-summary {
  color: whitesmoke;
}

.post-show {
  width: 80%;
  margin: auto;
  margin-top: 7%;
}

.post-show > h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 7%;
}

.post-content > p {
  color: whitesmoke;
  font-size: x-large;
  line-height: 1.9em;
}