#blog-page-title {
  font-size: 3em;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 5%;
}

.blog-post-link {
  text-decoration: none;
}

.blog-post {
  border: solid whitesmoke 1px;
  background-color: #474747;
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 5%;
}

.published-date {
  color: whitesmoke;
  float: right;
}

.post-title {
  color: whitesmoke;
  float: left;
}

.show-post-title {
  color: whitesmoke;
}

.show-post-summary {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5%;
}

.post-title:visited {
  color: whitesmoke;
}

.post-summary {
  color: whitesmoke;
  display: block;
  margin-top: 90px;
}

.post-show {
  width: 80%;
  margin: auto;
  margin-top: 7%;
}

.post-show > h1 {
  font-size: 50px;
  text-align: center;
}

.post-content > p {
  color: whitesmoke;
  font-size: x-large;
  line-height: 1.9em;
  text-indent: 60px;
  margin-bottom: 5%;
}

.comments {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 30px;
}

.comments > h1 {
  padding-bottom: 20px;
}

.comments > p {
  margin-bottom: 50px;
}

.new-comment-form {
  margin-top: 30px;
}

.content-label {
  color: whitesmoke;
  font-size: large;
}

.content-field {
  resize: none;
  width: 50%;
  height: 50%;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 12pt;
}